<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krayzk9s.imgurholo"
    android:versionCode="28"
    android:versionName="0.12.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="imgur Holo"
        android:debuggable="true"
            >
        <activity
            android:name="com.krayzk9s.imgurholo.activities.SettingsActivity"
            android:label="imgur Holo Settings"
            > </activity>
        <activity
            android:name="com.krayzk9s.imgurholo.activities.MainActivity"
            android:label="imgur Holo"
            android:launchMode="standard"
                >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <action android:name="android.intent.extra.LOCAL_ONLY"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="authcallback"
                    android:scheme="imgur-holo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.krayzk9s.imgurholo.activities.ImagePagerActivity"
            android:label="imgur Holo"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="com.krayzk9s.imgurholo.IMAGE_PAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.krayzk9s.imgurholo.activities.ImagesActivity"
            android:label="imgur Holo"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="com.krayzk9s.imgurholo.IMAGES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CommentsActivity"
            android:label="imgur Holo"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="com.krayzk9s.imgurholo.COMMENTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.krayzk9s.imgurholo.activities.AlbumsActivity"
            android:label="imgur Holo"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="com.krayzk9s.imgurholo.ALBUMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.krayzk9s.imgurholo.activities.AccountActivity"
            android:label="imgur Holo"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="com.krayzk9s.imgurholo.ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.krayzk9s.imgurholo.activities.ImgurLinkActivity"
            android:label="imgur Holo"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="i.imgur.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="imgur.com"
                    android:pathPrefix="/a/"  />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="imgur.com"
                    android:pathPrefix="/gallery/"  />
            </intent-filter>
        </activity>
        <activity
            android:name="com.krayzk9s.imgurholo.activities.ImageSelectActivity"
            android:label="@string/title_activity_image_select" >
        </activity>
        <service android:name="com.krayzk9s.imgurholo.services.UploadService" />
    </application>

</manifest>
